/* Ensure everything is centered */
.centeredPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  
  .centeredText {
    text-align: center;
  }
  
  .centeredBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .centeredButton {
    margin-top: 20px;
  }
  
  /* Style for the button grid (2 per row) */
  .buttonGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 20px;
  }
  
  /* Style for the quiz buttons */
  .quizButton {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    width: 100%;
  }
  
  /* Style for the hovered quiz buttons */
  .quizButton:hover {
    background-color: #eff5ff;
  }
  
  /* Style for the selected quiz buttons */
  .selectedButton {
    background-color: #eff5ff;
    border: 1px solid #0080BA; /* Subtle border */
    color: #0080BA; /* Subtle border */

}
  
  /* Submit button styling */
  .submitButton {
    background-color: lightblue;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
  }
  
  .submitButton:hover {
    background-color: black;
    color: white;
  }
  
  /* Style for the input field */
  .input {
    padding: 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 8px; /* Rounded edges */
    border: 1px solid rgb(208, 208, 208);
    color: black; /* Dark gray text */
    margin-top: 10px;
  }
  
  .input:focus {
    outline: none; /* Remove focus outline */
    background-color: lightgray; /* Ensure consistent background */
  }

  .topicHeader {
    font-weight: lighter;
    margin-top: 20px;
  }

  .title{
    font-weight: lighter;
    font-size: medium;
    color: gray;
    margin-bottom: 20px;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 600px) {
    .buttonGrid {
      grid-template-columns: 1fr;
    }
  
    .quizButton {
      font-size: 14px;
      padding: 10px;
    }
  }
  