.main{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* Make sure the main holder takes up full width */
  max-width: 1200px; /* Add a max-width to prevent it from stretching too far */
  margin: 0 auto; /* Center it horizontally */
  margin-top: 50px;

}

.topicCard {
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border */
  border-radius: 8px;
  padding: 15px;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
  color: black; /* Text color default to black */
}

.topicCard:hover {
  background-color: #eff5ff; /* Light grey on hover */
  color: black; /* Ensure text stays black on hover */
}

.selected {
  background-color: #eff5ff; /* Light grey on hover */
  color:  #0080BA; /* White text when selected */
  border: 1px solid #0080BA; /* Subtle border */

}

.selected:hover {
  color: white; /* Keep text white when selected and hovered */
}

.selected h2,
.selected p {
  color: black; /* Ensure text stays white in the selected state */
}

.arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.8;
  transition: transform 0.2s ease;
}

.topicCard:hover .arrow {
  transform: translateX(5px);
}

.mainGrid {
  width: 100%;

}


.sessionContainer {
  background-color: #eff5ff; /* Light grey on hover */
  color:  #0080BA; /* White text when selected */
  border: 1px solid #0080BA; /* Subtle border */  border-radius: 12px;
  padding: 1.5rem;
  width: 100%; /* Full width of the container */
  max-width: 600px; /* Limits the width on large screens */
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content */
  align-items: center;
  margin: 0 auto;
}

.qrWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%; /* Take full width of the parent container */
  max-width: 300px; /* Limits the width on large screens */
}

.qrImage {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.qrIcon {
  color: #000;
  margin-top: 10px;
}

.urlHolder {
  width: 100%; /* Full width of the sessionContainer */
  max-width: 500px; /* Limits the width on large screens */
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  border-radius: 25px;
  margin-top: 1rem;
}

.searchIcon {
  color: gray;
  margin-right: 10px;
}

.sessionLink {
  color: black; /* Link color */
  text-decoration: none;
  word-wrap: break-word; /* Ensures text wraps if it's too long */
  flex: 1;
}

.sessionLink a {
  text-decoration: none;
  color: inherit;
}

.sessionLink:hover {
  text-decoration: underline;
  color: black;
}

.insightsHolder{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}

.insight {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  background-color: black;
  flex: 1; /* Optional: ensures each insight takes up equal space */
  margin: 0 10px; /* Adds space between insights */
  border-radius: 10px;
  padding: 20px;
}

.subTopics{ 
  color: gray;
  font-weight: lighter;
}

.topicHeader{
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .sessionContainer {
    width: 90vw;
  }

  .urlHolder {
    width: 90%; /* Adjusts width for smaller screens */
  }
}

