.mainHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topicCard {
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.03); /* Subtle border */
  border-radius: 8px;
  padding: 1rem;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  box-sizing: border-box;
  color: black; /* Text color default to black */
}

.topicCard:hover {
  background-color: #f0f0f0; /* Light grey on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
  color: black; /* Ensure text stays black on hover */
}

.selected {
  background-color: black; /* Black background when selected */
  color: white; /* White text when selected */
}

.selected:hover {
  background-color: black; /* Keep background black on hover when selected */
  color: white; /* Keep text white when selected and hovered */
}

.selected h2,
.selected p {
  color: white; /* Ensure text stays white in the selected state */
}

.arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.8;
  transition: transform 0.2s ease;
}

.topicCard:hover .arrow {
  transform: translateX(5px);
}

.mainGrid {
  width: 80vw;
  margin: 0 auto; /* Center horizontally */
}


.sessionContainer {
  background-color: #bfe2eb;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Spreads out the content */
  align-items: center;
  margin: 0 auto;
}

.qrWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 1rem;
  width: 50%; /* Set width of QR wrapper to make it responsive */
}

.qrImage {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.qrIcon {
  color: #000;
  margin-top: 10px;
}

.urlHolder {
  width: 99%; /* Occupies 80% of the sessionContainer */
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  margin-top: 1rem;
}

.searchIcon {
  color: gray;
  margin-right: 10px;
}

.sessionLink {
  color: #007bff; /* Link color */
  text-decoration: none;
  word-wrap: break-word; /* Ensures text wraps if it's too long */
  flex: 1;
}

.sessionLink a {
  text-decoration: none;
  color: inherit;
}

.sessionLink:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .sessionContainer {
    width: 90vw;
  }

  .urlHolder {
    width: 90%; /* Adjusts width for smaller screens */
  }
}

